<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="place_name">Place Name</label>
    <input type="text" name="place[name]" id="place_name">
  </p>
  <button type="submit">Create Place</button>
</form>
